@import "../utilities/variables";

@media only screen and (min-width: 0px) and (max-width: 767px){
    /*** CONTACTO ***/
    main{
        #contact{
            .form-contact {
                width: 100%;
                margin: 20px 0px;
                fieldset {
                    width: 90%;
                    margin: auto;
                    input {
                        width: 65%;
                    }
                }
            }
        } 
    
    } 
}