main h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  color: #1A132F;
  text-align: center;
  margin: 30px 10px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

main section p {
  background-color: #470D21;
  color: #FEA82F;
  font-weight: 400; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

:root {
  --beige: #f9e3d2;
  --soft-brown: #FEA82F;
  --orange: #D67D3E;
  --maroon: #9C0F48;
  --brown: #470D21;
  --dark-blue: #1A132F; }

.responsive-img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%; }

body {
  /** Body **/
  background-color: var(--beige);
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin-top: 1%;
  background-color: #470D21;
  top: 10px;
  position: sticky;
  z-index: 10;
  border: 3px solid #1A132F; }
  header .logo {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
    height: 100%; }
    header .logo img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  header .topNavBar {
    width: auto; }
    header .topNavBar ul {
      display: flex; }
      header .topNavBar ul li {
        position: relative;
        display: inline-block;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
        header .topNavBar ul li a {
          position: relative;
          text-decoration: none;
          font-size: 1.5rem;
          line-height: 1em;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-family: 'Pacifico', cursive;
          padding: 1%;
          color: #D67D3E;
          -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); }
          header .topNavBar ul li a::before {
            content: attr(data-text);
            position: absolute;
            color: var(--clr);
            width: 0;
            overflow: hidden;
            transition: .75s;
            border-right: 8px solid var(--clr);
            -webkit-text-stroke: 1px var(--clr); }
          header .topNavBar ul li a:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 25px var(--clr)); }
          header .topNavBar ul li a i {
            font-size: 25px; }

/** Footer **/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #D67D3E;
  border: 3px solid #1A132F;
  /* socialMidia nav */ }
  footer .logo {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 100px; }
    footer .logo img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  footer .bottomNav {
    display: inline;
    width: 50%;
    text-align: center;
    /** animaciones contacto**/ }
    footer .bottomNav ul {
      display: flex;
      font-weight: bold;
      justify-content: space-evenly; }
      footer .bottomNav ul li {
        display: inline; }
        footer .bottomNav ul li a {
          color: #9C0F48;
          text-transform: uppercase;
          padding: 1%;
          text-decoration: none; }
    footer .bottomNav .button {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #9C0F48;
      /*letra inicial*/
      position: relative;
      overflow: hidden;
      transition: color .75s; }
      footer .bottomNav .button:hover {
        color: #1A132F;
        /*letra final*/ }
      footer .bottomNav .button::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 150%;
        height: 100%;
        color: red;
        /*letra final*/
        background-color: yellow;
        transform: scaleX(0) skewX(35deg);
        transform-origin: left;
        z-index: -1;
        transition: transform 1s; }
      footer .bottomNav .button:hover::before {
        transform: scaleX(1) skewX(35deg); }
  footer .socialMidia {
    width: 10%;
    display: flex;
    justify-content: center; }
    footer .socialMidia ul {
      display: inline;
      padding-left: 0px;
      margin: 10px; }
      footer .socialMidia ul li {
        padding: 10px; }
        footer .socialMidia ul li a i {
          font-size: 30px; }
        footer .socialMidia ul li a .fa-facebook-f {
          color: #4267B2; }
          footer .socialMidia ul li a .fa-facebook-f:hover {
            animation: first_color .5s ease-in infinite alternate; }

@keyframes first_color {
  0% {
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff; }
  100% {
    text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff; } }
        footer .socialMidia ul li a .fa-instagram {
          color: #C13584; }
          footer .socialMidia ul li a .fa-instagram:hover {
            animation: second_color .5s ease-in infinite alternate; }

@keyframes second_color {
  0% {
    text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px #285AEB; }
  100% {
    text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px #285AEB; } }
        footer .socialMidia ul li a .fa-twitter {
          color: #1d92db; }
          footer .socialMidia ul li a .fa-twitter:hover {
            animation: third_color .5s ease-in infinite alternate; }

@keyframes third_color {
  0% {
    text-shadow: 0 0 10px #2892d8, 0 0 20px #4db3f7, 0 0 30px #2384c5; }
  100% {
    text-shadow: 0 0 5px #2892d8, 0 0 10px #4db3f7, 0 0 15px #2384c5; } }

main h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  color: #1A132F;
  text-align: center;
  margin: 30px 10px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

main #menu {
  /* section menu */
  width: 90%;
  background-color: #470D21;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  text-align: center;
  padding: 30px;
  justify-content: space-around;
  align-items: center; }
  main #menu .burger, main #menu .burger5 {
    /*article burger */
    width: 40%;
    border: solid 5px #9C0F48;
    margin: 3rem 1rem; }
  main #menu .burger5 {
    width: 60%; }
  main #menu h2 {
    color: #FEA82F;
    font-family: 'Pacifico', cursive;
    padding: 10px; }
  main #menu p {
    padding: 10px;
    padding-bottom: 15px; }
  main #menu .cardMenu {
    /* img */
    padding: 15px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -26px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; }
    main #menu .cardMenu:hover .cardMenu-image {
      transform: scale(1.35); }
    main #menu .cardMenu .cardMenu-image {
      position: relative;
      opacity: .8;
      transition: transform .75s; }

main .noticias .cardNew .noticia .cardNewText {
  background-color: #470D21; }
  main .noticias .cardNew .noticia .cardNewText p {
    color: #D67D3E;
    font-family: 'Lato', sans-serif; }

main h2 {
  color: #1A132F;
  font-family: 'Pacifico', cursive;
  padding: 10px; }

main #contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main #contact .form-contact {
    width: 70%; }
    main #contact .form-contact fieldset {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 50px auto; }
      main #contact .form-contact fieldset label {
        padding: 5px;
        text-align: center; }
      main #contact .form-contact fieldset input {
        padding: 10px;
        text-align: center;
        width: 30%;
        margin: auto;
        border-radius: 5%; }
      main #contact .form-contact fieldset .wrapper-genre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        margin: auto; }
        main #contact .form-contact fieldset .wrapper-genre input {
          margin: auto; }
      main #contact .form-contact fieldset #form-btn {
        display: flex;
        justify-content: center; }
        main #contact .form-contact fieldset #form-btn button {
          padding: 10px;
          margin: 10px;
          /** animaciones contacto**/
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #D67D3E;
          /*letra inicial*/
          outline: 2px solid #FEA82F;
          /*borde*/
          position: relative;
          overflow: hidden;
          transition: color 1s;
          transition: outline 1s;
          background-color: #470D21; }
          main #contact .form-contact fieldset #form-btn button:hover {
            color: #470D21;
            /*letra final*/
            outline: 2px solid #470D21;
            /*borde*/
            background-color: #FEA82F; }
          main #contact .form-contact fieldset #form-btn button::before {
            content: '';
            position: absolute;
            top: 0;
            left: -50px;
            width: 0;
            height: 100%;
            background-color: red;
            transform: skewX(35deg);
            z-index: -1;
            transition: width 1s; }
          main #contact .form-contact fieldset #form-btn button:hover::before {
            width: 150%; }

main #about-btm, main #about-top {
  background-color: #470D21;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;
  padding: 30px; }
  main #about-btm h2, main #about-top h2 {
    color: #FEA82F;
    font-family: 'Pacifico', cursive;
    padding: 10px; }
  main #about-btm p, main #about-top p {
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; }
  main #about-btm .divImg, main #about-top .divImg {
    padding: 15px; }
    main #about-btm .divImg img, main #about-top .divImg img {
      border-radius: 50%;
      width: 100%;
      height: 100%; }

main #about-top p {
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px; }

main #about-btm .divImg {
  width: 70%;
  height: auto;
  margin: auto; }

main #about-btm .card-dev {
  display: flex;
  width: 100%; }

main h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  color: #1A132F;
  text-align: center;
  margin: 30px 10px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

main section p {
  background-color: #470D21;
  color: #FEA82F;
  font-weight: 400; }

main .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

main .homeSection {
  border: 3px solid #1A132F; }
  main .homeSection .wrapler-top {
    background-color: #470D21;
    display: flex; }
    main .homeSection .wrapler-top .image-wrapler-top {
      width: 100%; }
      main .homeSection .wrapler-top .image-wrapler-top img {
        width: 100%; }
    main .homeSection .wrapler-top p {
      padding: 10px;
      width: 70%;
      display: flex;
      align-items: center;
      font-size: 30px; }
  main .homeSection .wrapler-bottom {
    background-color: #470D21;
    display: flex;
    justify-content: right; }
    main .homeSection .wrapler-bottom p {
      padding: 10px;
      padding-left: 20px;
      width: 50%;
      height: auto;
      display: flex;
      align-items: center;
      font-size: 40px;
      letter-spacing: 2px; }
    main .homeSection .wrapler-bottom .divIframe {
      width: 100%; }
    main .homeSection .wrapler-bottom iframe {
      padding: 3px 10px 0px 3px;
      display: flex;
      justify-content: left;
      width: 100%;
      height: 100%; }

main .lastImg {
  width: 100%;
  height: auto; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*** HOME ***/
  /** body **/
  body {
    width: 100%;
    height: auto; }
  /** header **/
  header {
    flex-direction: column;
    position: relative;
    z-index: 0; }
    header .logo {
      margin: 10px 45px 10px 0px; }
    header .topNavBar ul {
      /* ul */
      display: flex;
      flex-direction: column; }
      header .topNavBar ul li {
        box-shadow: none; }
        header .topNavBar ul li a {
          padding: 0%;
          font-size: 1.5rem;
          line-height: 1em;
          letter-spacing: 0.1em; }
  .grid-father {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 10px;
    grid-template-areas: "header" "main" "footer"; }
  .grid-header {
    grid-area: header; }
  .grid-main {
    grid-area: main; }
  .grid-footer {
    grid-area: footer; }
  main h1 {
    font-size: 3em; }
  main .slider {
    /*slider*/
    display: none; }
  main .homeSection .wrapler-top {
    /*wrapler-top*/
    display: flex;
    flex-direction: column; }
    main .homeSection .wrapler-top .grid-top-img {
      width: 100%; }
    main .homeSection .wrapler-top .grid-top-p {
      width: 100%;
      border-bottom: solid 3px #f9e3d2; }
  main .homeSection .wrapler-bottom {
    /*wrapler-bottom*/
    display: flex;
    flex-direction: column; }
    main .homeSection .wrapler-bottom .grid-btm-p {
      width: 100%; }
    main .homeSection .wrapler-bottom .divIframe {
      height: 300px; }
      main .homeSection .wrapler-bottom .divIframe iframe {
        padding: 0%; }
  /* footer ul */
  footer .bottomNav ul {
    font-size: 0.7rem;
    flex-direction: column;
    /* footer li */ }
    footer .bottomNav ul li {
      padding: 0.2rem;
      margin: 0.2rem; } }

@media only screen and (min-width: 0px) and (max-width: 1023px) {
  main .homeSection .wrapler-bottom p {
    font-size: 30px;
    letter-spacing: 2px; } }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*** NOSTROS ***/
  main #about-top {
    width: 90%; }
    main #about-top p {
      font-size: 1rem;
      letter-spacing: 0.7px; }
  main #about-btm {
    width: 90%; }
    main #about-btm div {
      height: 100%;
      width: 100%; } }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*** CONTACTO ***/
  main #contact .form-contact {
    width: 100%;
    margin: 20px 0px; }
    main #contact .form-contact fieldset {
      width: 90%;
      margin: auto; }
      main #contact .form-contact fieldset input {
        width: 65%; } }

/*** MENU ***/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  main #menu .burger, main #menu .burger5 {
    width: max-content; } }

/*** NOTICIAS ***/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  main #new {
    width: 100%; } }

/*** TABLET RESPONSIVE ***/
/** navbar **/
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  header .topNavBar ul li a {
    font-size: 1rem;
    line-height: 1.4rem; } }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  header .topNavBar ul li a {
    font-size: 1rem;
    line-height: 1.4rem; } }
