::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

main h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  color: #1A132F;
  text-align: center;
  margin: 30px 10px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

main section p {
  background-color: #470D21;
  color: #FEA82F;
  font-weight: 400; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin-top: 1%;
  background-color: #470D21;
  top: 10px;
  position: sticky;
  z-index: 10;
  border: 3px solid #1A132F; }
  header .logo {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
    height: 100%; }
    header .logo img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  header .topNavBar {
    width: auto; }
    header .topNavBar ul {
      display: flex; }
      header .topNavBar ul li {
        position: relative;
        display: inline-block;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
        header .topNavBar ul li a {
          position: relative;
          text-decoration: none;
          font-size: 1.5rem;
          line-height: 1em;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-family: 'Pacifico', cursive;
          padding: 1%;
          color: #D67D3E;
          -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); }
          header .topNavBar ul li a::before {
            content: attr(data-text);
            position: absolute;
            color: var(--clr);
            width: 0;
            overflow: hidden;
            transition: .75s;
            border-right: 8px solid var(--clr);
            -webkit-text-stroke: 1px var(--clr); }
          header .topNavBar ul li a:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 25px var(--clr)); }
          header .topNavBar ul li a i {
            font-size: 25px; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

/** Footer **/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #D67D3E;
  border: 3px solid #1A132F;
  /* socialMidia nav */ }
  footer .logo {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
    height: 100%; }
    footer .logo img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  footer .bottomNav {
    display: inline;
    width: 50%;
    text-align: center;
    /** animaciones contacto**/ }
    footer .bottomNav ul {
      display: flex;
      font-weight: bold;
      justify-content: space-evenly; }
      footer .bottomNav ul li {
        display: inline; }
        footer .bottomNav ul li a {
          color: #9C0F48;
          text-transform: uppercase;
          padding: 1%;
          text-decoration: none; }
    footer .bottomNav .button {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #9C0F48;
      /*letra inicial*/
      position: relative;
      overflow: hidden;
      transition: color .75s; }
      footer .bottomNav .button:hover {
        color: #1A132F;
        /*letra final*/ }
      footer .bottomNav .button::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 150%;
        height: 100%;
        color: red;
        /*letra final*/
        background-color: yellow;
        transform: scaleX(0) skewX(35deg);
        transform-origin: left;
        z-index: -1;
        transition: transform 1s; }
      footer .bottomNav .button:hover::before {
        transform: scaleX(1) skewX(35deg); }
  footer .socialMidia {
    width: 10%;
    display: flex;
    justify-content: center; }
    footer .socialMidia ul {
      display: inline;
      padding-left: 0px; }
      footer .socialMidia ul li {
        margin: 10px; }
        footer .socialMidia ul li a {
          color: #9C0F48; }
          footer .socialMidia ul li a i {
            font-size: 25px; }
          footer .socialMidia ul li a .fa-facebook-square {
            color: #4267B2;
            background-color: #f9e3d2;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
          footer .socialMidia ul li a .fa-instagram-square {
            color: #C13584;
            background-color: #f9e3d2;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
          footer .socialMidia ul li a .fa-twitter-square {
            color: #1d92db;
            background-color: #f9e3d2;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

main {
  /* section menu */ }
  main h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    color: #1A132F;
    text-align: center;
    margin: 30px 10px;
    padding-bottom: 10px;
    text-decoration-line: underline;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }
  main #menu {
    width: 90%;
    background-color: #470D21;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    /*article burger */
    /* img */ }
    main #menu .burger {
      width: 40%;
      border: solid 5px #9C0F48;
      margin: 3rem 1rem; }
    main #menu h2 {
      color: #FEA82F;
      font-family: 'Pacifico', cursive;
      padding: 10px; }
    main #menu p {
      padding: 10px;
      padding-bottom: 15px; }
    main #menu .cardMenu {
      padding: 15px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      outline: 1px solid rgba(255, 255, 255, 0.5);
      outline-offset: -26px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden; }
      main #menu .cardMenu:hover .cardMenu-image {
        transform: scale(1.35); }
      main #menu .cardMenu .cardMenu-image {
        position: relative;
        opacity: .8;
        transition: transform .75s; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

main .noticias .cardNew .noticia .cardNewText {
  background-color: #470D21; }
  main .noticias .cardNew .noticia .cardNewText p {
    color: #D67D3E;
    font-family: 'Lato', sans-serif; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

main h2 {
  color: #1A132F;
  font-family: 'Pacifico', cursive;
  padding: 10px; }

main #contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main #contact .form-contact {
    width: 70%; }
    main #contact .form-contact fieldset {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 50px auto; }
      main #contact .form-contact fieldset label {
        padding: 5px;
        text-align: center; }
      main #contact .form-contact fieldset input {
        padding: 10px;
        text-align: center;
        width: 30%;
        margin: auto;
        border-radius: 5%; }
      main #contact .form-contact fieldset .wrapper-genre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        margin: auto; }
        main #contact .form-contact fieldset .wrapper-genre input {
          margin: auto; }
      main #contact .form-contact fieldset #form-btn {
        display: flex;
        justify-content: center; }
        main #contact .form-contact fieldset #form-btn button {
          padding: 10px;
          margin: 10px;
          /** animaciones contacto**/
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #D67D3E;
          /*letra inicial*/
          outline: 2px solid #FEA82F;
          /*borde*/
          position: relative;
          overflow: hidden;
          transition: color 1s;
          transition: outline 1s;
          background-color: #470D21; }
          main #contact .form-contact fieldset #form-btn button:hover {
            color: #470D21;
            /*letra final*/
            outline: 2px solid #470D21;
            /*borde*/
            background-color: #FEA82F; }
          main #contact .form-contact fieldset #form-btn button::before {
            content: '';
            position: absolute;
            top: 0;
            left: -50px;
            width: 0;
            height: 100%;
            background-color: red;
            transform: skewX(35deg);
            z-index: -1;
            transition: width 1s; }
          main #contact .form-contact fieldset #form-btn button:hover::before {
            width: 150%; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

main #about-btm, main #about-top {
  background-color: #470D21;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;
  padding: 30px; }
  main #about-btm h2, main #about-top h2 {
    color: #FEA82F;
    font-family: 'Pacifico', cursive;
    padding: 10px; }
  main #about-btm p, main #about-top p {
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; }
  main #about-btm .divImg, main #about-top .divImg {
    padding: 15px; }
    main #about-btm .divImg img, main #about-top .divImg img {
      border-radius: 50%;
      width: 100%;
      height: 100%; }

main #about-top p {
  width: 100%; }

main #about-btm .divImg {
  width: 70%;
  height: auto;
  margin: auto; }

main #about-btm .card-dev {
  display: flex;
  width: 100%; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
  background-position: top; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: var(--soft-brown);
  border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d; }

::-webkit-scrollbar-thumb:active {
  background: var(--maroon); }

::-webkit-scrollbar-corner {
  background: transparent; }

main h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  color: #1A132F;
  text-align: center;
  margin: 30px 10px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

main section p {
  background-color: #470D21;
  color: #FEA82F;
  font-weight: 400; }

main .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

main .homeSection {
  border: 3px solid var(--dark-blue); }

main .wrapler-top {
  background-color: var(--brown);
  display: flex; }

main .image-wrapler-top {
  width: 70%; }
  main .image-wrapler-top img {
    width: 100%; }
  main .image-wrapler-top p {
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 30px; }

main .wrapler-bottom {
  background-color: var(--brown);
  display: flex;
  justify-content: right; }
  main .wrapler-bottom p {
    padding: 10px;
    padding-left: 20px;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 30px; }
  main .wrapler-bottom .divIframe {
    width: 100%; }
  main .wrapler-bottom iframe {
    padding: 3px 10px 0px 3px;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%; }

main .lastImg {
  width: 100%;
  height: auto; }
