*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --beige: #f9e3d2;
    --soft-brown : #FEA82F;
    --orange: #D67D3E;
    --maroon: #9C0F48;
    --brown: #470D21;
    --dark-blue: #1A132F;
}

.responsive-img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*** HOME ***/
/** Body **/
body{
    background-color: var(--beige);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
/** Header **/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-top: 1% ;
    background-color: var(--brown);
    top: 10px;
    position: sticky;
    z-index: 10; 
    border: 3px solid var(--dark-blue);
    
}
/* Logo */
header .logo{
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
    height: 100%;
}
header .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
/* topNavBar */
header .topNavBar{
    width: auto;
}
.topNavBar ul{
    display: flex;
}
.topNavBar ul li{
    position: relative;
    display: inline-block;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.topNavBar ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    padding: 1%;
    color: var(--orange);
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
}
.topNavBar ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: .75s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}
.topNavBar ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
.topNavBar ul li a i{
    font-size: 25px;

}
/** Main **/

/* Slider */
main .slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* h1 */
main h1{
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    color: var(--dark-blue);
    text-align: center;
    margin: 30px 10px;
    padding-bottom: 10px;
    text-decoration-line: underline;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
main .homeSection{
    border: 3px solid var(--dark-blue);
}
/*wrapler-top*/
main .wrapler-top{
    background-color: var(--brown);
    display: flex;
}
main .image-wrapler-top{
    width: 70%;
}
main .image-wrapler-top img{
    width: 100%;
}
/* p */
main section p{
    background-color: var(--brown);
    color: var(--soft-brown);
    font-weight: 400;
}
main section .wrapler-top p{
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 30px;
}
/*wrapler-bottom*/
main .wrapler-bottom{
    background-color: var(--brown);
    display: flex;
    justify-content: right;
}
main section .wrapler-bottom p{
    padding: 10px;
    padding-left: 20px;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 30px;
}
/*iframe*/
main section .wrapler-bottom .divIframe{
    width: 100%;
    
}
main section .wrapler-bottom iframe{
    padding: 3px 10px 0px 3px;
    display: flex;
    justify-content: left; 
    width: 100%;
    height: 100%;
}
/*lastImg*/

main .lastImg{
    width: 100%;
    height: auto;
}
/** Footer **/
footer{
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--orange);
    border: 3px solid var(--dark-blue);
}
/** animaciones contacto**/
.bottomNav .button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--maroon);/*letra inicial*/
    position: relative;
    overflow: hidden;
    transition: color .75s;
}
.bottomNav .button:hover{
    color: var(--dark-blue); /*letra final*/
}
.bottomNav .button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    color: red; /*letra final*/
    background-color: yellow;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    z-index: -1;
    transition: transform 1s;
}
.bottomNav .button:hover::before{
    transform: scaleX(1) skewX(35deg);
}
/* Logo */
footer .logo{
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
    height: 100%;
}
footer .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* bottom nav */
footer .bottomNav {
    display: inline;
    width: 50%;
    text-align: center;
}
footer .bottomNav ul{
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
}
footer .bottomNav ul li{
    display: inline;
}
footer .bottomNav ul li a{
    color: var(--maroon);
    text-transform: uppercase;
    padding: 1%;
    text-decoration: none
}
/* socialMidia nav */
footer .socialMidia{
    width: 10%;
    display: flex;
    justify-content: center;
}
footer .socialMidia ul{
    display: inline;
}
footer .socialMidia ul li{
    margin: 10px;
}
footer .socialMidia ul li a{
    color: var(--maroon);
}
footer .socialMidia ul li a i{
    font-size: 25px;
}
footer .socialMidia ul li a .fa-facebook-square{
    color: #4267B2;
    background-color: var(--beige);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
footer .socialMidia ul li a .fa-instagram-square{
    color: #C13584;
    background-color: var(--beige);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
footer .socialMidia ul li a .fa-twitter-square{
    color: #1d92db;
    background-color: var(--beige);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/*** ABOUT ***/
/** main **/
/* section about */
main #about-top, main #about-btm{
    background-color: var(--brown);
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
}
/* h2 */
main #about-top h2, main #about-btm h2{
    color: var(--soft-brown);
    font-family: 'Pacifico', cursive;
    padding: 10px;
}
/* p */
main #about-top p, main #about-btm p {
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
main #about-top p{
    width: 100%;
}
/* img */
main #about-top div, main #about-btm div{
    padding: 15px;
}
main #about-btm div{
    width: 70%;
    height: auto;
    margin: auto;
}
main #about-btm div img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#about-btm .card-dev{
    display: flex;
    width: 100%;
}

/*** MENU ***/
/** main **/

/*.grid-father-menu{
    display: grid;
    height: 100vh;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: "header"
                         "main"
                         "footer";
}   
.grid-header-menu{
    grid-area: header;
}
.grid-father-menu main {
    grid-area: main;
}
 #menu .grid-burger1{
    grid-area: burger1;
}
#menu .grid-burger2{
    grid-area: burger2;
}
#menu .grid-burger3{
    grid-area: burger3;
}
#menu .grid-burger4{
    grid-area: burger4;
}
#menu .grid-burger5{
    grid-area: burger5; 
}
.grid-footer-menu{
    grid-area: footer;
}
*/

/* section menu */
main #menu{
    width: 90%;
    background-color: var(--brown);
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}
/*article burger */
main #menu .burger{
    width: 40%;
    border: solid 5px var(--maroon);
    margin: 3rem 1rem;
}
/* h2 */
main #menu h2{
    color: var(--soft-brown);
    font-family: 'Pacifico', cursive;
    padding: 10px;
}
/* p */
main #menu p{
    padding: 10px;
    padding-bottom: 15px;
}
/* img */
main #menu div{
    padding: 15px;
}
/* animaciones menu*/
.card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -26px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.card-image{
    position: relative;
    opacity: .8;
    transition: transform .75s;
}
.card:hover .card-image{
    transform: scale(1.35);
}


/*** NEWS ***/
/** main **/
/* section about */
main #new{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: left;
    padding: 30px;
    margin-top: 25px;
}
/* article-new */
main #new .article-new{
    background-color: var(--brown);
    margin: 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* h2 */
main #new .article-new h3{
    color: var(--soft-brown);
    font-family: 'Pacifico', cursive;
    padding: 10px;
}
/* p */
main #new .article-new p{
    padding: 10px;
    padding-bottom: 15px;
}
/* img */
main #new .article-new div{
    padding: 5px;
}



/*** CONTACT ***/
/** main **/
/* h2 */
main h2{
    color: var(--dark-blue);
    font-family: 'Pacifico', cursive;
    padding: 10px;
}
/* section contact */
main #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* form */
main #contact .form-contact{
    width: 70%;
}
/* fieldset */
main #contact .form-contact fieldset{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
}
/* label */
main #contact .form-contact fieldset label{
    padding: 5px;
    text-align: center;
    
}
/* input */
main #contact .form-contact fieldset input{
    padding: 10px;
    text-align: center;
    width: 30%;
    margin: auto;
    border-radius: 5%;
}
/* .wrapper-genre */
main #contact .form-contact fieldset .wrapper-genre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin: auto;
    
}
/* .wrapper-genre input */
main #contact .form-contact fieldset .wrapper-genre input{
    margin: auto;
}
/* form-btn */
main #contact .form-contact fieldset #form-btn{
    display: flex;
    justify-content: center;
}
/* button*/
main #contact .form-contact fieldset #form-btn button{
    padding: 10px;
    margin: 10px;
}
/** scrollbar **/
::-webkit-scrollbar {
    width: 12px;
    height: 20px;
    background-position: top;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background:var(--soft-brown);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgb(127, 127, 141);
}
::-webkit-scrollbar-thumb:active {
    background: var(--maroon);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
/** animaciones contacto**/
#form-btn button{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: green;/*letra inicial*/
    outline: 2px solid blue;/*borde*/
    padding: 30px 60px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}
#form-btn button:hover{
    color: #833ab4; /*letra final*/
}
#form-btn button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: red;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
#form-btn button:hover::before{
    width: 150%;
}
/*** TABLET RESPONSIVE ***/

@media only screen and (min-width: 0px) and (max-width: 1023px){
    /** navbar **/
    .topNavBar ul li a {
        font-size: .9rem;
        line-height: 1.1rem;
    }
}

/*** MOBILE RESPONSIVE ***/

@media only screen and (min-width: 0px) and (max-width: 767px){
    /*** HOME ***/
    /** body **/
    body{
        width: 100vw;
        height: auto;
    }
    /** header **/
    header{
        flex-direction: column;
        position: relative;
        z-index: 0;
    }
    header .logo{
        margin: 10px 45px 10px 0px;
    }
    /* ul */
    header nav ul{
        display: flex;
        flex-direction: column;
    }
    .topNavBar ul li {
        box-shadow: none;
    }
    .topNavBar ul li a{
        padding: 0%;
        font-size: 1.5rem;
        line-height: 1em;
        letter-spacing: 0.1em;
    }
    main h1 {
        font-size: 3em;
    }
    /* footer ul */
    footer .bottomNav ul {
        font-size: 0.7rem;
        flex-direction: column;
    }
    /* footer li */
    footer .bottomNav ul li {
        padding: 0.2rem;
        margin: 0.2rem;
    }
    /*slider*/
    main .slider{
        display: none;
    }
    /*wrapler-top*/
    main .homeSection .wrapler-top{
        display: flex;
        flex-direction: column;
    }
    /*wrapler-bottom*/
    main .homeSection .wrapler-bottom{
        display: flex;
        flex-direction: column;
    }
    /* section grid */
    
    section .wrapler-top .grid-top-img{
        width: 100%;
    }
    section .wrapler-top .grid-top-p{
        width: 100%;
        border-bottom: solid 3px var(--beige);
    }
    section .wrapler-bottom .grid-btm-p{
        width: 100%;
    }
    section .wrapler-bottom .divIframe{
        height: 300px;
    }
    section .wrapler-bottom .divIframe iframe{
        padding: 0%;
    } 
    .grid-father{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        gap: 10px;
        grid-template-areas: "header"
                              "main"
                              "footer"
                              
    }
    .grid-header{
        grid-area: header;
    }
    .grid-main{
        grid-area: main;
    }
    .grid-footer{
        grid-area: footer;
    }
    /*** MENU ***/
    main #menu .burger{
        width: max-content;
    }
    /* .grid-father-menu{
        display: grid;
        height: 100vh;
        grid-template-rows: 3fr;
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-areas: "header" 
                             "main"
                             "footer" ;
    }    */
    
    /*** NOTICIAS ***/
    main #new {
        width: 100%;
    }
    /*** NOSTROS ***/
    main #about-top, main #about-btm{
        width: 90%;
        
    }
    main #about-btm div{
        width: 100%;
        height: 100%;
    }
    /*** CONTACTO ***/
    main #contact .form-contact {
        width: 100%;
        margin: 20px 0px;
    }
    main #contact .form-contact fieldset {
        width: 90%;
        margin: auto;
    }
    main #contact .form-contact fieldset input {
        width: 65%;
    }
}