@import "../utilities/variables";


/*** TABLET RESPONSIVE ***/

/** navbar **/
@media only screen and (min-width: 0px) and (max-width: 1023px){
    header{
        .topNavBar{
            ul{
                li{
                    a{
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 767px){
    header{
        .topNavBar{
            ul{
                
                li{
                    a{
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}