@import "../utilities/variables";

/** Footer **/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $orange;
    border: 3px solid $dark-blue;
    .logo{
        display: inline-block;
        max-width: 100%;
        object-fit: cover;
        width: 100px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .bottomNav{
        display: inline;
        width: 50%;
        text-align: center;
        ul{
            display: flex;
            font-weight: bold;
            justify-content: space-evenly;
            li{
                display: inline;
                a{
                    color: $maroon;
                    text-transform: uppercase;
                    padding: 1%;
                    text-decoration: none
                }
            }
        }
        /** animaciones contacto**/
        .button{
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $maroon;/*letra inicial*/
            position: relative;
            overflow: hidden;
            transition: color .75s;
            &:hover{
                color: $dark-blue; /*letra final*/
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -50px;
                width: 150%;
                height: 100%;
                color: red; /*letra final*/
                background-color: yellow;
                transform: scaleX(0) skewX(35deg);
                transform-origin: left;
                z-index: -1;
                transition: transform 1s;
            }
            &:hover::before{
                transform: scaleX(1) skewX(35deg);
            }
        } 
    }
    /* socialMidia nav */
    .socialMidia{
        width: 10%;
        display: flex;
        justify-content: center;
        ul{
            display: inline;
            padding-left: 0px;
            li{
                margin: 10px;
                a{
                    i{
                        font-size: 40px;
                    }
                    .fa-facebook-f{
                        color: #4267B2;
                        
                        
                    }
                    .fa-instagram{
                        color: #C13584;
                        
                        
                    }
                    .fa-twitter{
                        color: #1d92db;
                        
                        
                    }
                }
            }
        }
    }
}

